.App {
  text-align: center;
}

 * {
  padding: 0;
  margin: 0;
}


/********************* NAV BAR ********************/
.nav-bar {
  display:flex;
  justify-content:space-between;
  align-items: center;
  background-color: rgb(59, 62, 102);
  color: white;
  padding: 10px 30px;
  font-size: 20px;
}

.nav-dropmenu {
  display: flex;
  justify-content:space-evenly;
}

/********************* MAIN PAGE ********************/

.main-page {
  background-color:rgb(172, 141, 175);
  text-align: center;
  height:100vh;
  padding-top: 150px;
  font-style: italic;
}


/******************* ALL QUOTES page ************************/

.all-quotes {
background-color: rgb(172, 141, 175);
float: left;
/* max-width: 55%; */
display: flex;
flex-wrap:  wrap;
}

.quote-box {
  border: 1px solid rgb(72, 76, 127);
  border-radius: 15px;
  box-shadow: 2px 4px 8px;
  width: 350px;
  height: 200px;
  padding: 20px;
  margin: 40px 20px;
  background-color: rgb(226, 207, 215);
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}

/**************** ADD FORM ***************/

.add-quote-page {
  background-color: rgb(172, 141, 175);
  height: 100vh;
  padding-top: 20px;
}

.add-form {
  border: 1px solid rgb(72, 76, 127);
  border-radius: 15px;
  box-shadow: 2px 4px 8px;
  width: 400px;
  padding: 20px;
  margin: 30px 50px;
  background-color: rgb(226, 207, 215);

}
